includes/eb-ssl-check.yml
tracingConfig:
  enabled: true
name: TLSCheckHost
events:
  - eventBridge:
      eventBusName: !Ref EventBridge
      event:
        detail-type:
          - "Start Scan"
definition:
  Comment: Assesses the TLS posture for a host
  StartAt: Pass
  States:
    Pass:
      Type: Pass
      Next: Scan URL / Check Status
      InputPath: $.detail
      Parameters:
        status: START
        host.$: $.host
        id.$: $.id
    Scan URL / Check Status:
      Type: Task
      Resource: 'arn:aws:states:::lambda:invoke'
      OutputPath: $.Payload
      Parameters:
        FunctionName:
          Fn::GetAtt: [analyzehost, Arn]
        Payload.$ : $
      Retry:
        - ErrorEquals:
            - Lambda.ServiceException
            - Lambda.AWSLambdaException
            - Lambda.SdkClientException
            - Lambda.TooManyRequestsException
          IntervalSeconds: 2
          MaxAttempts: 6
          BackoffRate: 2
      Next: Choice
    Choice:
      Type: Choice
      Choices:
        - Not:
            Variable: $.status
            StringMatches: READY
          Next: Wait
          Comment: Not finished
      Default: Success
    Wait:
      Type: Wait
      Seconds: 30
      Next: Scan URL / Check Status
    Success:
      Type: Succeed
