includes/eb-ssl-check.yml
tracingConfig:
  enabled: true
name: TLSCheckHost
events:
  - eventBridge:
      eventBusName: !Ref EventBridge
      event:
        detail-type:
          - "Start Scan"
definition:
  Comment: Assesses the TLS posture for a host
  StartAt: Pass
  States:
    Pass:
      Type: Pass
      Next: Scan URL / Check Status
      InputPath: $.detail
      Parameters:
        status: START
        host.$: $.host
        requestId.$: $.requestId
    Scan URL / Check Status:
      Type: Task
      Resource: 'arn:aws:states:::lambda:invoke'
      OutputPath: $.Payload
      Parameters:
        FunctionName:
          Fn::GetAtt: [analyzehost, Arn]
        Payload.$ : $
      Retry:
        - ErrorEquals:
            - Lambda.ServiceException
            - Lambda.AWSLambdaException
            - Lambda.SdkClientException
            - Lambda.TooManyRequestsException
          IntervalSeconds: 2
          MaxAttempts: 6
          BackoffRate: 2
      Next: Put Scan Update Event
    Put Scan Update Event:
      Type: Task
      Resource: 'arn:aws:states:::events:putEvents'
      Parameters:
        Entries:
          - Detail:
              requestId.$: $.requestId
              body.$: $
            DetailType: Scan Update
            EventBusName:
              Fn::GetAtt: [EventBridge, Name]
            Source: ScanStepFN
      Next: Choice
      ResultPath: null
    Choice:
      Type: Choice
      Choices:
        - Not:
            Variable: $.status
            StringMatches: READY
          Next: Wait
          Comment: Not finished
      Default: Scan Completed
    Scan Completed:
      Type: Task
      Resource: 'arn:aws:states:::events:putEvents'
      Parameters:
        Entries:
          - Detail:
              requestId.$: $.requestId
              body.$: $
            DetailType: Scan Finished
            EventBusName:
              Fn::GetAtt: [EventBridge, Name]
            Source: ScanStepFN
      Next: Success
    Wait:
      Type: Wait
      Seconds: 30
      Next: Scan URL / Check Status
    Success:
      Type: Succeed
